mixin popup-mortgage-block(data, Classlist, link)
  .popup-mortgage-block(class!=Classlist)
    .popup-mortgage-block__item.popup-mortgage-block__item--range
      .popup-mortgage-block__title!=data.price.name
      .popup-mortgage-block__desc
        .popup-mortgage-block__value!=data.price.defaultValue
        .popup-mortgage-block__text.popup-mortgage-block__text--price.popup-mortgage-block__text--tooltip
          span!=data.price.defaultTooltip
          .popup-mortgage-block__tooltip-icon
            .popup-mortgage-block__tooltip-wrp.popup-mortgage-block__tooltip-wrp--price
              each itemTooltip in data.price.desc
                .popup-mortgage-block__tooltip-item(data-condition!=itemTooltip.minPrice)
                  .popup-mortgage-block__tooltip-name!=itemTooltip.name
                  .popup-mortgage-block__tooltip-text!=itemTooltip.text
      .popup-mortgage-block__slider-wrp
        .popup-mortgage-block__slider-line
          input.popup-mortgage-block__slider(type='range', value=data.price.defaultValue, data-min=data.price.minValue, data-max=data.price.maxValue)
    .popup-mortgage-block__item.popup-mortgage-block__item--range
      .popup-mortgage-block__title!=data.howMuchYears.name
      .popup-mortgage-block__desc
        .popup-mortgage-block__value!=data.howMuchYears.defaultValue
        .popup-mortgage-block__text
      .popup-mortgage-block__slider-wrp
        .popup-mortgage-block__slider-line
          input.popup-mortgage-block__slider(type='range', value=data.howMuchYears.defaultValue, data-min=data.howMuchYears.minValue, data-max=data.howMuchYears.maxValue)
    .popup-mortgage-block__item.popup-mortgage-block__item--range
      .popup-mortgage-block__title!=data.initialFee.name
      .popup-mortgage-block__desc
        .popup-mortgage-block__value!=data.initialFee.defaultValue
        .popup-mortgage-block__text
      .popup-mortgage-block__slider-wrp
        .popup-mortgage-block__slider-line
          input.popup-mortgage-block__slider(type='range', value=data.initialFee.defaultValue, data-min=data.initialFee.minValue, data-max=data.initialFee.maxValue)
    .popup-mortgage-block__item
      .popup-mortgage-block__checkbox.popup-mortgage-block__checkbox--tooltip
        input(type='checkbox', id=data.family.id, name=data.family.name, checked)
        label(for=data.family.id)!=data.family.label
        .popup-mortgage-block__tooltip-icon
          .popup-mortgage-block__tooltip-wrp
            .popup-mortgage-block__tooltip-item
              .popup-mortgage-block__tooltip-text!=data.family.tooltipText
      .popup-mortgage-block__checkbox
        input(type='checkbox', id=data.withoutInitialFee.id, name=data.withoutInitialFee.name)
        label(for=data.withoutInitialFee.id)!=data.withoutInitialFee.label
